*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section{
     
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,14,154) 35%,rgba(0,212,255,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    padding: 20;
}

form{
    width: 26%;
    background-color: aliceblue;
    padding: 10px;
    border-radius:10%;
    margin-top: 10px;
}

.btn-primary{
    width: 100%;
    border: none;
    border-radius:50% ;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,14,154) 35%,rgba(0,212,255,1) 100%);

}
.form-control{
    color:rgba(0,0,0,.87);
    border-bottom-color: rgba(0,0,0,.42);
     box-shadow: none !important;
     border: none;
     border-bottom: 1px solid;
     border-radius: 4px 4px;
}
